.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background: transparent;
}

button.btn.btn-danger.btn.delete-phone-client {
    margin-top: 3px;
}

div.navbar.navbar-step {
    display: none;
}


.jumbotron-resp {
    position: relative;
    display: block;
}

.jumbotron-resp {
    right: -30px;
}

.jumbotron {
     padding: 0;
     margin-bottom: 0;
    color: inherit;
    background: transparent;
}

.label-tag {
    font-size: 11px !important;
}

.label-tag i {
    font-size: 11px;
    top: 0;
    cursor: pointer;
    position: relative;
    color: #ddd;
}

div#items_manager_client {
    float: left;
}

div.address-wrapper {
    background-color: #ddd;
    padding: 20px;
    margin-bottom: 20px;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #FFF;
    background-color: #575757;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 10px;
}