@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: url('../img/mesh.png') #222;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}

h2 {
    font-size: 24px;
}

#page-content-wrapper {
    padding: 20px 25px 0;
    overflow: hidden;
    height: 100%;
    background: #fff;
    /*border-radius:5px;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*background: url('../img/bgnoise.png');*/
    width: 98%;
    margin: 0 auto;
    padding: 5px;
    margin-top: 54px;
    margin-left: 0;
    padding-bottom: 25px;
    min-height: 400px;
    padding-top: 25px;
}

div.navbar-collapse.navbar-inverse.navbar-fixed-top {
    width: 99%;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 47px;
    display: none;
    background-color: rgba(50, 118, 177,0.8);
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 37px;
}

.navbar-collapse {
    max-height: 340px;
    padding-right: 27px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

.container-fluid {
     padding-right: 0;
     padding-left: 0;
}

