.btn-special {
    color: #929292;
    background-color: #575757;
    border-color: #313131;
}
.btn-special:hover,
.btn-special:focus,
.btn-special:active,
.btn-special.active,
.open .dropdown-toggle.btn-special {
    color: #929292;
    background-color: #484848;
    border-color: #313131;
}
.btn-special:active,
.btn-special.active,
.open .dropdown-toggle.btn-special {
    background-image: none;
}
.btn-special.disabled,
.btn-special[disabled],
fieldset[disabled] .btn-special,
.btn-special.disabled:hover,
.btn-special[disabled]:hover,
fieldset[disabled] .btn-special:hover,
.btn-special.disabled:focus,
.btn-special[disabled]:focus,
fieldset[disabled] .btn-special:focus,
.btn-special.disabled:active,
.btn-special[disabled]:active,
fieldset[disabled] .btn-special:active,
.btn-special.disabled.active,
.btn-special[disabled].active,
fieldset[disabled] .btn-special.active {
    background-color: #484848;
    border-color: #313131;
}
.btn-special .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-primary .badge {
    color: #428bca;
    background-color: #fff;
}