.clickable {
    cursor: pointer;
}

.panel-heading {
    padding: 5px 5px;
}

.clickable .glyphicon {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 3px 3px;
    border-radius: 4px;
    margin-top: 6px;
}

.panel-title {
    font-size: 13px;
}

.panel-heading span {
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}

a.clickable {
    color: inherit;
}

a.clickable:hover {
    text-decoration: none;
}

.clickable i.glyphicon {
    font-size: 12px;
    margin-right: 10px;
}

.avatar-activity {
    width: 45px;
    height: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    display: block;
    top: 17px;
    left: 19px;
    overflow: hidden;
    border-radius: 25px;
    float: left;
    margin-right: 10px;
}

.activity-item-summary span.resolved-link {
    text-decoration: line-through;
}

.activity-item-summary {
    font-size: 13px;
}

i.clock-activity {
    font-size: 12px;
    margin-right: 4px;
}

.sub-activity {
    padding-bottom: 30px;
}

.activity-item-comment-form {
    display: none;
}

.show-more-activity {
    padding: 10px;
}

