.badge-task {
    background-color: #0085B9;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: bold;
    line-height: 2;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-warning {
    background-color: #FF5412;
}

/*icons*/
i.fa, i.glyphicon {
    font-size: 14px;
    margin-right: 10px;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background: transparent;
    border: 0 solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 0px solid #ddd;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
}

div.panel.panel-primary.filterable.panel-tabs {
    margin-top: 0;
}

li.dropdown {
    border: 1px solid rgb(48, 48, 48);
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    box-shadow: -1px 0 #000000
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #6D6D6D;
background: transparent;
}

.messages-dropdown .dropdown-menu {
    min-width: 300px;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 12px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: inherit;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #2B2B2B;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    right: -2px !important;
    padding-top: 10px;
    padding-bottom: 6px;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #999;
}
.dropdown-menu > li {
    /*padding-left: 13px;*/
}

.dropdown-menu .divider {
    height: 1px;
    overflow: hidden;
    border: 1px solid rgb(29, 29, 29);
    box-shadow: 0 1px 0 0 #4E4E4E;
    margin-left: 1px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #b9b9b9;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .navbar-inverse .navbar-toggle {
        border-color: #333;
        float: left !important;
        margin-left: 19px !important;
    }

    .avatar-top {
        width: 33px;
        height: 33px;
        -moz-border-radius: 33px;
        -webkit-border-radius: 33px;
        display: block;
        position: fixed;
        top: 9px;
        left: 55px;
        overflow: hidden;
        border-radius: 25px;
        border: 1px solid #444;
    }

}

.navbar-right {
    float: right !important;
    padding-right: 15px;
}


.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    margin-left: 0;
    padding-left: 0;
}

.label-warning, .badge-warning {
    background-color: #f89406;
}

.add-client-btn {
    padding-top: 2px;
    position: relative;
    display: inline;
    margin-bottom: -6px;
    top: -2px
}

button.btn.btn-success.btn-xs {
    margin-top: -2px;
}

.label-xs {
    display: inline;
    padding: 0.1em 0.3em .2em;
    font-size: 10px;
    font-weight: normal;
    line-height: 2;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.errors {
    color: red;
    display: none;
    position: fixed;
    left: 0;
    z-index: 10000;
    top: 0;
    width: 98%;
    margin: 10px;
    cursor: pointer;
}

.req {
    color: red;
    position: relative;
    padding-left: 5px;
    font-size: 14px;
}

.label-tag {
    cursor: pointer;
}

span.del-avatar {
    position: relative;
    color: #fff;
    float: right;
    bottom: -77px;
}

.alert {
    /*padding: 12px;*/
    /*text-align: center;*/
    /*border-radius: 12px;*/
    /*color: white;*/
    /*-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px, rgba(0, 0, 0, .75) 0 0 70px inset;*/
    /*-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px, rgba(0, 0, 0, .75) 0 0 70px inset;*/
    /*box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px, rgba(0, 0, 0, .75) 0 0 70px inset;*/
    /*background: #7d7e7d;*/
    /*background: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);*/
    /*background: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);*/
    /*background: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);*/
    /*background: -o-linear-gradient(top, #7d7e7d, #0e0e0e);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);*/
    /*background: linear-gradient(to bottom, #7d7e7d, #0e0e0e);*/
    /*border-top: 1px solid #666;*/
    /* overflow: hidden; */
    /*border: 1px solid #000;*/
    /*width: 98%;*/
    /*margin: 0 auto;*/
    /*left: 16px;*/
    /*top: 10px;*/
    /*font-size: 16px;*/
    /*background-repeat: no-repeat;*/
    /*background: rgba(0, 0, 0, 0.80);*/

}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    font-size: 12px;
}

div.alert.inbox a:hover, div.alert.inbox {
    text-shadow: 1px 1px #000;
    background: rgba(24, 24, 24, 0.5);
    text-align: left;
    font-size: 12px;
    /* padding: 15px; */
}

.show-info, .show-info-error {
    width: 300px;
    background-color: #000;
    position: absolute;
    margin: 0 auto;
    /* overflow: overlay; */
    right: 30px;
    z-index: 999;
    top: 30px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 3px 2px 5px #0A0A0A;
    background: rgba(0, 0, 0, 0.80);
    display: none;
}

.show-info-online  {
    width: 300px;
    background-color: #000;
    position: absolute;
    margin: 0 auto;
    /* overflow: overlay; */
    right: 30px;
    z-index: 999;
    top: 30px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 3px 2px 5px #0A0A0A;
    background: rgba(0, 0, 0, 0.80);
    display: none;
    padding: 29px;
}

.expandable-image {
    position: absolute;
    top: 12px;
    left: -50px;
    width: 52px;
    height: 52px;
    background: url("../img/positive_48.png") no-repeat;
}

div.expandable-nagative-image {
    position: absolute;
    top: 0px;
    left: -49px;
    width: 52px;
    height: 52px;
    background: url("../img/negative_48.png") no-repeat;

}

div.show-info-content {
    color: #fff;
    /* vertical-align: text-bottom; */
    height: auto;
    padding-top: 18px;
}

div.show-info-content-online {
    color: #fff;
    /* vertical-align: text-bottom; */
    height: auto;
    padding:0;
}

.dropdown {
    cursor: pointer;
}

.label-round {
    width: 7px;
    height: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    display: inline-block !important;
    top: -1px;
    position: relative;
    margin-right: 10px;
}

li {
    list-style-type: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.note-sound {
    display: block;
}


#files address, #files h1 {
    display: none;
}
.delete-phone {
    top: 12px;
    position: relative;
}

span.avatar-wrapper {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
}

.avatar-wrapper-ajax {

    width: 100px;
    height: 100px;
    border-radius: 100px;

}


button#delete-avatar-btn {
    position: relative;
    top: -13px;
    background: transparent;
    right: -30px;
}

span.avatar-content {
    width: 52px;
    height: 52px;
    overflow: hidden;
    position: relative;
    border-radius: 56px;
    display: block;
}

#avatar-true-ajax, .avatar-img-ajax {
    display: none;
}

div#files {
    padding-top: 33px;
}

.badge-tab {
    position: relative;
    top: -16px !important;
    left: 20px !important;
    background-color: red !important;
    color: #fff !important;
}

.flag {
    width: 16px;
    height: 11px;
    background: url("../img/flags.png") no-repeat;
    position: relative;
    top: 18px;
}

.flag.flag-ee {background-position: -16px 0}
.flag.flag-gb {background-position: 0 -11px}
.flag.flag-ru {background-position: -16px -11px}

.selectpicker> li > a {
    color:#575757 !important;
}
.selectpicker> li > a:hover {
    color:#fff !important;
}


.selectpicker> li > a:hover {

    background-color:#575757;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #575757;
    outline: 0;
}

.navbar-inverse {
    border: 0;
}

textarea {
    width: 100%;
    resize: none;
    margin: 10px 0;
    padding: 5px;
    color: #999;
    border: 1px solid #ddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.bench {
    color:#fff;
    margin: 0 auto;
    position: fixed;
    text-align: right;
    width: 300px;
}

#check_email_profile {
    display: none;
    color: white;
    padding: 3px;
    background-color: red;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.avatar-wrapper.pull-right {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
}

.time-wrapper {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fff;
    height: 45px;
    position: fixed;
    bottom: 0;
    right: 25px;
    box-shadow: 1px 1px 1px 1px #000;
}

.timer {
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
    width: 113px;
    padding-left: 10px;
    padding-right: 10px;
}

#clock-bottom {
    font-size: 30px;
    color: #B8B8B8;
}

#task-timer {
    float: left;
    display: none;
    padding-right: 10px;
    padding-top: 4px;
}

span#task-timer-pause {
    display: none;
    float: left;
    position: relative;
    top: 3px;
    left: 11px;
    color: rgb(134, 134, 134);
}

span#task-timer-stop{
    display: none;
    float: left;
    position: relative;
    top: 3px;
    left: 11px;
    color: rgb(134, 134, 134);
}

span#task-timer-stop a, span#task-timer-pause a {
    color: #B8B8B8;
}

.panel, .panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
