.help-content {
    position: fixed;
    display: none;
    color: #fff;
    top: 24px;
    left: 20px;
    width: 98%;
}

.help-content-open {
background: transparent;
    padding: 10px;
    margin: 10px;
    width: 100%;
    color: #fff;
    position: fixed;
    display: block;
}