/*LOGIN*/

body {
    background-color: #222;
}

.account-container {
    width: 380px;
    display: block;
    margin: 60px auto 0 auto;
    background: #f9f9f9;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;

}

.account-container .btn {
    width:100%;
}


div.content.clearfix {
    padding: 25px;
}

.errors {
    margin-top: 20px;
    color: red;
    width: 100%;
    display: block;
}


.login-fields, .field {
    margin-bottom: 20px;
}

h1 {
    margin-top: -10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #999999;
    font-size: 26px;
}

label {
    color: #999;
    font-weight: normal;
}

.fa {
    color:#999;
}

.alert {
    margin-bottom: 5px;
}

#check_login {
    display: none;
    color: red;
    width: 88%;
    text-align: center;
    background-color: #ddd;
    padding: 10px;
    margin: 9px;
    margin: 0 auto;
    margin-bottom: 11px;
    border-radius: 4px;
}

.sign_up {
    padding-top: 10px;
    margin-bottom: -10px;
    text-align: center;
}

i.fa {
    font-size: 15px;
    opacity: 0.5;
}

legend{
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 1PX 0PX 0 #FFF;
}