
.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}


thead {
    color: #333;
    background-color: #d2d2d2;
    border-color: #ddd;
}
