#wrapper {
  padding-left: 199px;
}

#sidebar-wrapper {
  margin-left: -198px;
  left: 198px;
  width: 198px;
  background: #222;
  position: fixed;
  height: 100%;
  z-index: 1000;
    overflow: hidden;
    background: url('../img/mesh.png');
    background-position: 0 -30px;


}

#page-content-wrapper {
  width: 100%;
    padding-top: 50px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 198px;
  list-style: none;
  margin: 0;
  padding: 0;
    padding-top: 27px;
}

.sidebar-nav li {
  line-height: 26px;
  text-indent: 20px;
    padding-top:  10px;
    padding-bottom:  10px;
}

li.sidebar-brand {
    padding-top: 0;
}

.sidebar-nav li a {
  color: #428bca;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff !important;
    transition: all 1.4s ease 0s;

  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {

  padding-left: 20px;
  padding-right: 20px;
}

#menu-toggle {
    display: none;
}

@media (max-width: 767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 45px;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
    }

    #menu-toggle {
        display: inline-block;
        background-color: #222;
        height: 47px;
        width: 48px;
        visibility: hidden;
    }

    .inset {
        padding: 30px;
        padding-top: 0px;
    }

    ul.navbar.navbar-left {
        display: none;
    }

    .nav > li {
        position: relative;
        display: block;
        float: right;
    }

    .left-resp-menu {
        display: none;
    }

    .sidebar-nav li a {
        text-align: right;
        text-shadow: 1px 1px #000;
    }

}

/*NAV*/

.sidebar-nav li {
    border-bottom: 1px solid #000;
    box-shadow: 0px 1px 0px #2C2C2C;
}

.sidebar-nav li.active {
    background: rgba(59, 62, 66, 0.50);
}



.sidebar-nav li a {
    text-shadow: 1px 1px #000 !important;
}


li.active a {
    color:#ddd;
}








.left-resp-menu {
    display: inline;
}


@media (max-width: 767px) {
    .sidebar-nav li a {
        text-align: right;
        padding-right: 0;
        font-size: 21px;
        margin-right: -6px;
        text-shadow: 1px 1px #000;
    }
    .left-resp-menu {
        display: none;
    }

    .sidebar-nav li {
        border-bottom: 0 solid #000;
        box-shadow: 0 0 0 #2C2C2C;
        line-height: 48px;
    }

    .sidebar-nav {
        left: -7px;
    }

    .sidebar-nav li.active {
        background: transparent;
    }

    .sidebar-nav li:hover {
        background: transparent;
    }

    span.badge-resp {
        position: absolute;
        right: 0;
        /* width: 19px; */
        height: 19px;
        text-align: center;
        padding: 0;
        margin: 0;
        float: inherit;
        /* background: transparent; */
        text-indent: initial;
        padding: 7px;
        padding-top: 4px;
        display: block;
    }

    ul.navbar.navbar-left {
   background: transparent;
    }
    ul.sidebar-nav li:hover {
        transition: none;
        background: transparent !important;
    }



}


span.badge-resp {
    position: absolute;
    right: 0;
    height: 16px;
    text-align: center;
    margin: 0;
    float: inherit;
    padding: 5px;
    padding-top: 3px;
    display: block;
    margin-top: -20px;
    -pie-background: linear-gradient(rgba(247,247,247,0.75) 0%,rgba(246,247,247,0.65) 25%,rgba(236,238,239,0.55) 85%,rgba(232,232,234,0.45) 100%);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(247,247,247,0.75)), color-stop(25%, rgba(246,247,247,0.65)), color-stop(85%, rgba(236,238,239,0.55)), color-stop(100%, rgba(232,232,234,0.45)));
    background-image: -webkit-linear-gradient(rgba(247,247,247,0.75) 0%,rgba(246,247,247,0.65) 25%,rgba(236,238,239,0.55) 85%,rgba(232,232,234,0.45) 100%);
    background-image: -moz-linear-gradient(rgba(247,247,247,0.75) 0%,rgba(246,247,247,0.65) 25%,rgba(236,238,239,0.55) 85%,rgba(232,232,234,0.45) 100%);
    background-image: -o-linear-gradient(rgba(247,247,247,0.75) 0%,rgba(246,247,247,0.65) 25%,rgba(236,238,239,0.55) 85%,rgba(232,232,234,0.45) 100%);
    background-image: linear-gradient(rgba(247,247,247,0.75) 0%,rgba(246,247,247,0.65) 25%,rgba(236,238,239,0.55) 85%,rgba(232,232,234,0.45) 100%);
    -webkit-box-shadow: 0 1px 3px #2e2e30,0 1px 1px rgba(255,255,255,0.2) inset;
    -moz-box-shadow: 0 1px 3px #2e2e30,0 1px 1px rgba(255,255,255,0.2) inset;
    box-shadow: 0 1px 3px #2e2e30,0 1px 1px rgba(255,255,255,0.2) inset;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    background-color: #000;
}

@media (min-width: 768px) {
    span.badge-resp {
        position: absolute;
        right: 10px;
        height: 18px;
        text-align: center;
        margin: 0;
        float: inherit;
        /* background: transparent; */
        text-indent: initial;
        padding: 5px;
        padding-top: 3px;
        display: block !important;
        margin-top: -20px;
        width: 20px;
        padding-right: 7px;
    }

}

.avatar-top {
    width: 45px;
    height: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    display: block;
    position: fixed;
    top: 17px;
    left: 19px;
    overflow: hidden;
    border-radius: 25px;
}

span.avata-img {
    position: relative;
    left: -2px;
    top: -3px;
}

.avatar-name {
    position: relative;
    color: #292929;
    top: 43px;
    background-color: rgb(37, 177, 255);
    padding: 2px;
    left: 70px;
    padding-left: 12px;
    padding-right: 10px;
    border-radius: 6px;
    padding-top: 0;
    font-size: 11px;
}


.avatar-name:after {
    content: "";
    position: absolute;
    border-left: 8px solid rgba(255, 241, 190, 0);
    border-right: 4px solid rgba(255, 241, 190, 0);
    left: -7px;
    border-top: 7px solid rgb(37, 177, 255);
    top: 4px;
}


.message {
    display: block;
}

li.message-preview {
    padding-top: 10px;
    margin-right: 0;
    width: 375px;
}

i.fa-clock-o {
    margin-left: 0;
}









